.side-bar {
    width: calc((100% - 1064px) / 2 + 64px);
    min-width: 264px;
	
	}
	

.main {
    margin-left: calc( (39% - 0px) / 2 + 125px );
	max-width: 1000px;
}

.site-title {
     padding-right: 1em; 
     padding-left: 1em;
}



.aux-nav .aux-nav-list-item {
    display: inline-block;
    height: 76%;
    padding: 0;
    margin: 7px;
    background-color: #0080c5;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #0080c5;
}



.aux-nav .aux-nav-list-item a {
color:#fff;
}

.site-nav, .site-header, .site-footer {
    width: 294px;
}


.nav-list .nav-list-item {
    font-size: 15px !important;
    font-weight: 300;
	    padding: 3px 0 3px 0;
	}
	
	
	.nav-list .nav-list-item {
    font-size: 15px !important;
    font-weight: 500;
	    padding: 3px 0 3px 0;
	}
	
	.nav-list-link {
	  font-weight: 450;
	}
	
	
	.site-footer {
	 display: none;
	}
	
	
	