.side-bar {
    width: calc((100% - 1064px) / 2 + 64px);
    min-width: 264px;
	
	}
	

.main {
    margin-left: calc( (39% - 0px) / 2 + 55px );
}
	
.nav-list .nav-list-item {
    font-size: 15px !important;
    font-weight: 500;
	    padding: 3px 0 3px 0;
	}
	
	.site-footer {
	 display: none;
	}
	
	
	